Source: enso-greeter
Section: x11
Priority: optional
Maintainer: Nick Wilkins <nickawilkins@hotmail.com>
Build-Depends:  cmake (>= 2.8),
		debhelper (>= 9),
		libclutter-gtk-1.0-dev,
		libgdk-pixbuf2.0-dev,
		libgranite-dev,
		libgtk-3-dev,
		liblightdm-gobject-1-dev,
		libx11-dev,
                valac (>= 0.26)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/

Package: enso-greeter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The lightdm greeter for Enso
	A fork of the elementary greeter
