.avatar {
    border-radius: 50%;
    border-color: alpha (#000, 0.50);
    box-shadow:
        inset 0 0 0 1px alpha (#fff, 0.05),
        inset 0 1px 0 0 alpha (#fff, 0.45),
        inset 0 -1px 0 0 alpha (#fff, 0.15),
        0 1px 2px alpha (#000, 0.15),
        0 2px 8px alpha (#000, 0.1);
}

.entry,
.entry:focus {
    border-radius: 3.5px;
    padding: 6px 3px;
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @base_color,
                0.93
            ),
            @base_color
        );
    border-color: alpha (@border_color, 0.75);
    box-shadow:
        inset 0 1px 1px 0 alpha (#000, 0.2),
        0 1px 0 alpha (#fff, 0.15);
}

.button.flat,
.h2,
.time {
    color: #fff;
    text-shadow:
        0 0 2px alpha (#000, 0.3),
        0 1px 2px alpha (#000, 0.6);
    icon-shadow:
        0 0 2px alpha (#000, 0.3),
        0 1px 2px alpha (#000, 0.6);
}

.h2 {
    font-size: 24px;
}

.time {
    font-size: 60px;
}

.pm {
    font-size: 40px;
}

/*.button.text-button.suggested-action {
.background {
  opacity: 0.5;
}

.button.text-button.suggested-action {
    padding: 6px 32px;
    border-radius: 3.5px;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 0 1px alpha (#fff, 0.05),
        inset 0 1px 0 0 alpha (#fff, 0.45),
        inset 0 -1px 0 0 alpha (#fff, 0.15),
        0 1px 0 0 alpha (#fff, 0.15);
}

.button.text-button.suggested-action:active {
    box-shadow:
        inset 0 0 0 1px alpha (#000, 0.05),
        0 1px 0 0 alpha (#fff, 0.15);
}

.fingerprint {
    background-image:
        linear-gradient(
            @bg_color,
            @bg_color 80%,
            shade (
                @bg_color,
                0.94
            )
        );
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 1px alpha (@bg_highlight_color, 0.1),
        inset 0 1px 0 0 alpha (@bg_highlight_color, 0.9),
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.3),
        0 0 0 1px alpha (#000, 0.2),
        0 1px 2px alpha (#000, 0.15),
        0 2px 6px alpha (#000, 0.10);
}

.fingerprint-label {
    text-shadow: 0 0 3px alpha (#000, 0.4);
}

.fingerprint-label.info {
    color: alpha (#fff, 0.8);
}

.fingerprint-label.error {
    color: lighter (@error_color);
}*/

@keyframes shake {
    0% { padding-left: 0 }
    25% { padding-left: 64px }
    50% { padding-left: 0 }
    75% { padding-left: 32px }
    100% { padding-left: 0}
}

.shake {
    animation: shake 0.4s ease-in-out 1;
}
