[Desktop Entry]
Version=1.0
Name=User Account Settings
Comment=Set desktop background and menu and plank settings
Exec=useraccount-settings
Icon=config-users
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;UserAccountSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
StartupNotify=true
