.welcome {
    background-color: #F3F4F5;
}

.button-green {
	padding: 7px;
	background-color: #2dce89;
	color: #f4f5f7;
}
.button-red {
	padding: 7px;
	background-color: #f4f5f7;
	color: #172b4d;
}

.options {
	/*background-image: linear-gradient(to bottom,
							  #fafafa,
							  #f2f2f2
							  );*/
	background-image: linear-gradient(to bottom,
							  #fff,
							  #f2f2f2
							  );
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid alpha (#000, 0.15);
	border-radius: 3px;

	/*box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
				inset 0 1px 0 0 alpha (#fff, 0.45),
				inset 0 -1px 0 0 alpha (#fff, 0.15),
				0 3px 2px -1px alpha (#000, 0.15),
				0 3px 5px alpha (#000, 0.10);*/
	color: #4d4d4d;
	font-size: 25px;
	font-weight: 300;
}

.options.install {
	background:linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	border-color: alpha (#a25812, 0.8);
	color: #fff8ef;
	icon-shadow: 0 1px 1px alpha (#6c1900, 0.5),
				 0 2px 3px alpha (#6c1900, 0.5);
	text-shadow: 0 1px 1px alpha (#6c1900, 0.5),
				 0 2px 3px alpha (#6c1900, 0.5);

}
