Source: switchboard-plug-useraccounts
Section: x11
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libpwquality-dev,
               libswitchboard-2.0-dev,
               libgnome-desktop-3-dev,
               libpolkit-gobject-1-dev,
               libgranite-dev,
               libaccountsservice-dev,
               libgtk-3-dev,
               valac (>= 0.34.1),
               libgirepository1.0-dev
Standards-Version: 3.9.6
Homepage: https://launchpad.net/switchboard-plug-useraccounts

Package: switchboard-plug-useraccounts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: switchboard
Conflicts: switchboard-plug-gcc-users
Replaces: switchboard-plug-gcc-users
Description: Manage local user accounts
 Switchboard plug for managing local user accounts

Package: switchboard-plug-useraccounts-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-useraccounts (= ${binary:Version}), ${misc:Depends}
Enhances: switchboard-plug-useraccounts
Description: Manage local user accounts (debugging symbols)
 Switchboard plug for managing local user accounts
 .
 This package contains debugging symbols for switchboard-plug-useraccounts.

Package: switchboard-plug-users
Architecture: any
Depends: switchboard-plug-useraccounts
Description: Manage local user accounts (dummy package)
 Switchboard plug for managing local user accounts. Dummy package, safe to remove.
