ABOUT-NLS
aclocal.m4
autom4te.cache
/build-aux/*
ChangeLog
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
m4
mkinstalldirs
stamp-h1
Makefile
Makefile.in
.version
.deps
.dirstamp
.libs
*.c
*.h
*.lo
*.la
*.o
*.pc
*.stamp
data/gala.desktop
data/gala-multitaskingview.desktop
data/gala-other.desktop
data/gschemas.compiled
data/org.pantheon.desktop.gala.gschema.valid
data/org.pantheon.desktop.gala.gschema.xml
data/org.pantheon.desktop.gala.gschema.xml.in
docs/gala
docs/libgala
lib/gala.vapi
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-po
src/gala
build
