[Desktop Entry]
Type=Application
Name[ca]=Altres
Name[da]=Andre
Name[en_GB]=Other
Name[es]=Otro
Name[fi]=Muut
Name[fr]=Autre
Name[it]=Altro
Name[ja]=その他
Name[ko]=기타
Name[ku]=Wekî Din
Name[lt]=Kita
Name[pl]=Inne
Name[tl]=Iba pa
Name[zh_CN]=其他
Name=Other
Comment[ca]=Fitxer d'escriptori alternatiu per a notificacions d'aplicacions desactualitzades.
Comment[da]=Fallback desktop-fil til notifikationer fra forældede programmer.
Comment[en_GB]=Fallback desktop file for notifications from outdated applications.
Comment[es]=Archivo de restauración para notificaciones de aplicaciones desactualizadas
Comment[fr]=Fichier desktop de secours pour les notifications provenant des vieilles applications.
Comment[it]=File .desktop di ripiego per le notifiche di applicazioni datate.
Comment[ja]=従来のアプリケーションからの通知用のフォールバックデスクトップファイル
Comment[ko]=오래된 애플리케이션 알림을 위한 대체 데스크톱 파일
Comment[lt]=Atsarginis darbalaukio failas, skirtas pranešimams iš pasenusių programų.
Comment[pl]=Rezerwowy plik pulpitu dla powiadomień z nieaktualnych programów.
Comment=Fallback desktop file for notifications from outdated applications.
Icon=applications-other
NoDisplay=true
X-GNOME-UsesNotifications=true
