.gala-notification {
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
	background-color: rgb(2434, 2434, 2434);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.gala-notification .title, .gala-notification .label {
    color: #333;
}

window,
decoration,
.notification {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.notification stack > grid {
    padding: 6px;
}

.notification:not(.confirmation) .draw-area image {
    -gtk-icon-style: regular;
}

.urgent image {
    animation: urgent 1.25s ease-in-out;
}

@keyframes urgent {
    0% { -gtk-icon-transform: scale(1) rotate(0deg); }
    10% { -gtk-icon-transform: scale(0.8) rotate(30deg); }
    20% { -gtk-icon-transform: scale(1.2) rotate(-30deg); }
    30% { -gtk-icon-transform: scale(1.6) rotate(30deg); }
    40% { -gtk-icon-transform: scale(1.6) rotate(-20deg); }
    50% { -gtk-icon-transform: scale(1.6) rotate(10deg); }
    60% { -gtk-icon-transform: scale(1.6) rotate(-5deg); }
    70% { -gtk-icon-transform: scale(1.2) rotate(2deg); }
    80% { -gtk-icon-transform: scale(1) rotate(0deg); }
    100% { -gtk-icon-transform: scale(1) rotate(0deg); }
}
