[Desktop Entry]
Type=Application
Name[ak]=Foforɔ
Name[bg]=Друго
Name[ca]=Altres
Name[cs]=Jiné
Name[de]=Andere
Name[en_GB]=Other
Name[es]=Otro
Name[et]=Muu
Name[fi]=Muut
Name[fr]=Autre
Name[fr_CA]=Autres
Name[he]=אחר
Name[hi]=अन्य
Name[hr]=Ostalo
Name[it]=Altro
Name[ja]=その他
Name[ko]=기타
Name[ku]=Wekî Din
Name[lt]=Kita
Name[mn]=Бусад
Name[ms]=Lain-lain
Name[pl]=Inne
Name[pt]=Outras
Name[pt_BR]=Outro
Name[ro]=Altele
Name[ru]=Другие
Name[sk]=Iné
Name[sl]=Ostalo
Name[sq]=Tjetër
Name[sr]=Друго
Name[sr@latin]=Ostalo
Name[tl]=Iba Pa
Name[tr]=Diğer
Name[ug]=باشقا
Name[uk]=Інше
Name[ur]=دیگر
Name[zh_CN]=其它
Name[zh_TW]=其他
Name=Other
Comment[ca]=Fitxer alternatiu per a notificacions d'aplicacions antigues.
Comment[cs]=Záložní desktop soubor pro oznámení od zastaralých aplikací.
Comment[de]=Rückfall-Desktop-Datei für Benachrichtigungen von veralteten Anwendungen.
Comment[en_GB]=Fallback desktop file for notifications from outdated applications.
Comment[es]=Archivo de escritorio de reserva para las notificaciones de aplicaciones obsoletas.
Comment[et]=Reserv töölauafail iganenud rakenduste märguannete jaoks.
Comment[fr]=Fichier desktop de replis avec gestion des notifications d'anciennes applications
Comment[he]=קובץ שולחן עבודה לעתודה עבור התראות מיישומים מיושנים.
Comment[hr]=Pomoćna datoteka radne površine za obavijesti iz zastarjelih aplikacija.
Comment[it]=File desktop di ripiego per le notifiche da applicazioni obsolete.
Comment[ko]=오래된 애플리케이션 알림용 대체 데스크톱 파일.
Comment[lt]=Atsarginis darbalaukio (desktop) failas, skirtas pranešimams iš pasenusių programų.
Comment[ms]=Fail desktop jatuh balik bagi beritahuan dari applikasi ketinggalan.
Comment[pl]=Zastępczy plik na pulpicie dla powiadomień z przestarzałych programów.
Comment[pt]=Ficheiro .desktop para as notificações de aplicações legadas.
Comment[pt_BR]=Pasta desktop reserva para notificações de aplicações desatualizadas.
Comment[ro]=Rezervă fişierele desktop pentru notificări din aplicaţiile care nu sunt la zi.
Comment[ru]=Запасной desktop-файл для уведомлений от устаревших приложений.
Comment[sk]=Núdzový súbor plochy pre upozornenia od zastaraných aplikácií.
Comment[sl]=Pomožna "desktop" datoteka za obvestila iz zastarelih aplikacij.
Comment[sr]=Вратите се на стару датотеку радне површи за обавештења из застарелих програма.
Comment[ug]=ۋاقتى ئۆتكەن ئەپلەردىن ئۈستەليۈزى ئۇقتۇرۇش ھۆججەتلىرىنى قايتۇرۇپ كىلىش
Comment[uk]=Файл замінює стільницю для повідомлень від застарілих додатків.
Comment[zh_CN]=从过旧的应用程序中撤回通知所用的桌面文件。
Comment[zh_TW]=老舊應用程式通知用的後備桌面檔。
Comment=Fallback desktop file for notifications from outdated applications.
Icon=applications-other
NoDisplay=true
X-GNOME-UsesNotifications=true
