[Desktop Entry]
Type=Application
Name[be]=Прагляд стальцоў
Name[bg]=Многозадачен изглед
Name[bs]=Multitasking pregled
Name[ca]=Vista de multitasca
Name[cs]=Zobrazení multitaskingu
Name[da]=Multitasking synsvinkel
Name[de]=Übersicht der Arbeitsflächen
Name[en_CA]=Multitasking View
Name[en_GB]=Multitasking View
Name[es]=Vista de multitarea
Name[et]=Tööalade ülevaade
Name[fi]=Moniajonäkymä
Name[fr]=Vue multitâche
Name[gl]=Vista multitarefa
Name[he]=תצוגת ריבוי משימות
Name[hi]=सभी खिड़किया देखे
Name[hr]=Višeradni pogled
Name[hu]=Többfeladatos nézet
Name[it]=Vista multitasking
Name[ja]=マルチタスクビュー
Name[ka]=მრავალამოცანიანი ხედი
Name[ko]=멀티태스킹 보기
Name[lb]=Multitasking Perspektive
Name[lt]=Daugiaprogramio apdorojimo rodinys
Name[mn]=Олноор харах
Name[ms]=Paparan Tugas Berbilang
Name[nb]=Vis arbeidsområder
Name[nl]=Multitasking weergave
Name[nn]=Multitasking visning
Name[pl]=Widok wielozadaniowy
Name[pt]=Vista multi-tarefa
Name[pt_BR]=Visão multitarefa
Name[ro]=Privire multifuncțională
Name[ru]=Многозадачный вид
Name[sk]=Multitaskingový pohľad
Name[sl]=Pokaži vsa okna
Name[sr]=Преглед покренутих задатака
Name[sv]=Multitaskingvy
Name[th]=มุมมองแบบมัลติทาสก์
Name[tl]=View na Pang-multitasking
Name[tr]=Çoklu Görev Görünümü
Name[ug]=كۆپ ۋەزىپىلىك كۆرۈنۈش
Name[uk]=Багатозадачний вигляд
Name[zh_CN]=多任务视图
Name[zh_TW]=多工作業檢視
Name=Multitasking View
Comment[be]=Праглядзець усе адкрытыя вокны і стальцы
Comment[bg]=Прегледа на всички прозорци и на работните плотове
Comment[bs]=Pregledajte sve otvorene prozore i radne površine
Comment[ca]=Visualitza totes les finestres obertes i totes les àrees de treball
Comment[cs]=Zobrazit všechna okna a pracovní plochy
Comment[da]=Se alle åbne vinduer og arbejdsområder
Comment[de]=Alle offenen Fenster und alle Arbeitsflächen anzeigen
Comment[el]=Προβολή όλων των ανοικτών παραθύρων και χώρων εργασίας
Comment[en_CA]=View all open windows and workspaces
Comment[en_GB]=View all open windows and workspaces
Comment[es]=Ver todas las ventanas y áreas de trabajo
Comment[et]=Kõikide avatud akende ja tööalade vaatamine
Comment[fi]=Näytä kaikki avoimet ikkunat ja työtilat
Comment[fr]=Afficher toutes les fenêtres ouvertes et les espaces de travail
Comment[gl]=Ver todas as xanelas abertas e os espazos de traballo
Comment[he]=צפייה בכל סביבות העבודה והחלונות הפתוחים
Comment[hi]=सभी वर्त्तमान खिड़किया और कार्यस्थल देखे
Comment[hr]=Prikaži sve otvorene prozore i radne prostore
Comment[hu]=Az összes nyitott ablak és munkaterület mutatása
Comment[it]=Visualizza tutte le finestre aperte e le aree di lavoro
Comment[ja]=すべての開いているウィンドウとワークスペースを見ます
Comment[ka]=ყველა გახსნილი ფანჯრის და სამუშაო გარემოს ნახვა
Comment[ko]=모든 창과 작업 공간 보기
Comment[lb]=All oppen Fënsteren an Aarbechtsflächen uweisen
Comment[lt]=Rodyti visus atvertus langus ir visas darbo sritis
Comment[mn]=Бүх ажлын орчин, нээлттэй цонхнуудыг харах
Comment[ms]=Lihat semua tetingkap terbuka dan ruang kerja
Comment[nb]=Vis alle åpne vinduer og arbeidsområder
Comment[nl]=Toon alle open vensters en werkbladen
Comment[nn]=Vis alle opne vindauge og arbeidsområde
Comment[pl]=Pokaż wszystkie otwarte okna i obszary robocze
Comment[pt]=Ver todas as janelas e ambientes de trabalho
Comment[pt_BR]=Ver todas as janelas e áreas de trabalho abertas
Comment[ro]=Vizualizați toate ferestrele deschise și spațiile de lucru
Comment[ru]=Просмотр всех открытых окон и рабочих столов
Comment[sk]=Ukázať všetky otvorené okná a plochy
Comment[sl]=Pregled vseh odprtih oken in površin
Comment[sq]=Shfaqi të gjitha dritaret e hapura dhe hapësirat e punës
Comment[sr]=Прегледајте све отворене прозоре и радне просторе
Comment[sv]=Visa alla öppna fönster och arbetsytor
Comment[th]=ดูหน้าต่างและพื้นที่ทำงานที่เปิดใช้งานอยู่
Comment[tr]=Tüm açık pencereleri ve çalışma alanlarını göster
Comment[ug]=بارلىق ئىچىلغان كۆزنەكلەرنى ۋە خىزمەت رايونلىرىنى كۆرۈش
Comment[uk]=Переглянути всі відкриті вікна та робочі простори
Comment[zh_CN]=查看所有打开的窗口和工作区
Comment[zh_TW]=檢視所有開啟的視窗與工作區
Comment=View all open windows and workspaces
GenericName[be]=Прагляд стальцоў
GenericName[bg]=Многозадачен изглед
GenericName[bs]=Multitasking pregled
GenericName[ca]=Vista de multitasca
GenericName[cs]=Zobrazení multitaskingu
GenericName[da]=Multitasking synsvinkel
GenericName[de]=Übersicht der Arbeitsflächen
GenericName[en_CA]=Multitasking View
GenericName[en_GB]=Multitasking View
GenericName[es]=Vista de multitarea
GenericName[et]=Tööalade ülevaade
GenericName[fi]=Moniajonäkymä
GenericName[fr]=Vue multitâche
GenericName[gl]=Vista multitarefa
GenericName[he]=תצוגת ריבוי משימות
GenericName[hi]=सभी खिड़किया देखे
GenericName[hr]=Višeradni pogled
GenericName[hu]=Többfeladatos nézet
GenericName[it]=Vista multitasking
GenericName[ja]=マルチタスクビュー
GenericName[ka]=მრავალამოცანიანი ხედი
GenericName[ko]=멀티태스킹 보기
GenericName[lb]=Multitasking Perspektive
GenericName[lt]=Daugiaprogramio apdorojimo rodinys
GenericName[mn]=Олноор харах
GenericName[ms]=Paparan Tugas Berbilang
GenericName[nb]=Vis arbeidsområder
GenericName[nl]=Multitasking weergave
GenericName[nn]=Multitasking visning
GenericName[pl]=Widok wielozadaniowy
GenericName[pt]=Vista multi-tarefa
GenericName[pt_BR]=Visão multitarefa
GenericName[ro]=Privire multifuncțională
GenericName[ru]=Многозадачный вид
GenericName[sk]=Multitaskingový pohľad
GenericName[sl]=Pokaži vsa okna
GenericName[sr]=Преглед покренутих задатака
GenericName[sv]=Multitaskingvy
GenericName[th]=มุมมองแบบมัลติทาสก์
GenericName[tl]=View na Pang-multitasking
GenericName[tr]=Çoklu Görev Görünümü
GenericName[ug]=كۆپ ۋەزىپىلىك كۆرۈنۈش
GenericName[uk]=Багатозадачний вигляд
GenericName[zh_CN]=多任务视图
GenericName[zh_TW]=多工作業檢視
GenericName=Multitasking View
Icon=multitasking-view
Terminal=false
Categories=GNOME;GTK;System;
Exec=
X-AppStream-Ignore=true
