Source: galal
Section: misc
Priority: optional
Maintainer: Nick Wilkins <nickawilkins@hotmail.com>
Build-Depends: debhelper (>=9),
	       autoconf, automake, autotools-dev, gettext, gettext-base, libtool, autopoint, pkg-config, valac, gcc, g++, cmake, make, intltool, build-essential,
	       libglib2.0-dev,
               libgtk-3-dev (>=3.4.0),
               libbamf3-dev,
	       libgranite-dev(>=0.3.0),
               libgee-0.8-dev,
               libgnome-desktop-3-dev,
               libplank-dev (>=0.3.0),	
	       libmutter-dev,
               libclutter-1.0-dev,
	       libcogl-dev,
	       libcanberra-gtk3-dev,
	       libcanberra-dev	
Standards-Version: 3.9.6

Package: galal
Architecture: any
Depends: libglib2.0-0,
               libgtk-3-0 (>=3.4.0),
               libbamf3-2,
	       libgranite-common,
	       libgranite2,
               libgee-0.8-2,
               libgnome-desktop-3-12,
               libplank1 (>=0.3.0),	
	       libmutter0g,
               libclutter-1.0-0,
	       libcogl-common,
	       libcanberra-gtk3-0,
	       libcanberra0	
Description: Gala - light
	A fork of the elementary WM gala to remove some of the fat
