#!/usr/bin/make -f

# firstly called by launchpad
dh clean:
	dh_auto_clean

# secondly called by launchpad
dh build:
	./autogen.sh -prefix=/usr
	dh_auto_build

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep: 
	#nothing to do

binary-arch:
	dh_auto_install --destdir=./debian/tmp
	mkdir -p ./debian/tmp/DEBIAN
	dpkg-gencontrol -pgalal;
	dpkg --build debian/tmp ..
	



